{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div class="dashboard_content search_flights_page">
  <div class="container">
    <div class="row">
      <div class="col-md-8 additional-left-side">
        <h1 class="serach_flights_h1">{{ element.title }}</h1>
        <div class="row">
        {# {{ element.content }} #}
        {{ element|without('content', 'title', 'ticket') }}
        </div>
      </div>
      <div class="col-md-4 ticket_row_ticket">
      {{ <pre>
        {{ dump(element|keys) }}
      </pre> }}
        <div class="ticket ticket_purp purp ticket_total">
          {{ element.ticket }}
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="pd"></div>
<div class="pd"></div>
