{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div class="book_page seat-selection">

  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h1  >{{ element.title }}</h1>
        <div class="divide10"></div>
           {{ element.seat_selections }}
  <div class="flights-seat-btuns">
            {{ element.tab_buttons }}
          </div>

              {# {% for el in element.tab_buttons['#titles']  %}
        <div class="row seat_flight_ov">
						<div class="col-md-4 cs6">
							<label>Flight Number</label>
							<h4>
                {{ el['#markup'] }}
              </h4>
						</div>
						<div class="col-md-4 cs6">
							<label>Passenger</label>
							<h4>Matt McKenna</h4>
						</div>
						<div class="col-md-3 cs6">
							<label>Upgrade Price</label>
							<h4>$0.00</h4>
						</div>
						
						<div class="col-md-1 cs6">
							<label>Seat</label>
							<div class="seat_select_small"></div><h4>1B</h4>
						</div>
					</div>
              {% endfor %} #}
        
        

        
        
        
        
        <div class="divide50"></div>

        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="seat_color_list">
              <h2>Choose Your Seat</h2>
              <p>Click a seat on the plane to select your seat. The key below explains what each color means.</p>
                 <ul class="bpth_seat">
                  <li class=" bpth_br bpth_seat">
                    <span class="s1"></span>
                    <h4>{{ 'Selected'|t }}</h4>
                  </li>
                  <li class=" bpth_br bpth_seat">
                    <span class="s2"></span>
                    <h4>{{ 'Unavailable'|t }}</h4>
                  </li>
                  <li class=" bpth_br bpth_seat">
                    <span class="s3"></span>
                    <h4>{{ 'Occupied'|t }}</h4>
                  </li>
                  <li class=" bpth_br bpth_seat">
                    <span class="s4"></span>
                    <h4>{{ 'Standard'|t }}</h4>
                  </li>
                  <li class=" bpth_br bpth_seat">
                    <span class="s5"></span>
                    <h4>{{ 'Plus'|t }}</h4>
                  </li>
                  <li class=" bpth_seat">
                    <span class="s6"></span>
                    <h4>{{ 'Premium/Emergency'|t }}</h4>
                  </li>
                 </ul>
             
            </div>
            <div class="col-md-12 col-sm-12 responsivestyle-r responsivestyle-l">
             
  
              <div class="divide40"></div>
  
              <h4 class="seat_list_h4">{{ 'To travel in an emergency exit row seat a passenger must:'|t }}</h4>
              <ul class="seats_list">
                <li>{{ 'Be 16 years of age or older.'|t }}</li>
                <li>{{ 'Be able to understand the operating instructions.'|t }}</li>
                <li>{{ 'Be able to operate the emergency exit without causing themselves bodily harm.'|t }}</li>
                <li>{{ 'Be able to visually determine if the exit is safe to open.'|t }}</li>
                <li>{{ 'Not require special handling or the use of a mobility aid or medical device.'|t }}</li>
                <li>{{ 'Not be traveling with an animal in the cabin.'|t }}</li>
                <li>{{ 'Not be solely responsible for another person.'|t }}</li>
                <li>{{ 'Not require a seatbelt extender as this presents a tripping hazard.'|t }}</li>
              </ul>
  
             
               
            </div>
          </div>

          <div class="col-md-5 col-sm-12 responsivestyle-r responsivestyle-l imge-seat-selection">
            {{ element.seats }}
          </div>

          
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-lg-4 col-md-10">
        {{ element.ticket }}
      </div>
    </div>
    <div class="checkout_next_back">
      {{ element|without('actions', 'tab_buttons', 'seats', 'seat_selections', 'title', 'ticket') }}
      {{ element.actions|without('previousa') }}
      {# {{ element.actions.previous }} #}
    </div>
  </div>
</div>

<div class="pd"></div>
<div class="pd"></div>
