{#
/**
 * @file
 * Theme override for seat selections.
 */
#}
{# {% for flight in flights %}
  <div data-tab="{{ loop.index0 }}">
    <h2>{{ flight.title }}</h2>
    <div class="row seats_overview">
      <div class="col-sm-5 col-md-4">
        <h4>{{ 'Passenger' }}</h4>
        {% for passenger in flight.passengers %}
          {{ passenger.name }}
        {% endfor %}
      </div>
      <div class="col-sm-4 col-md-4 w100">
        <h4>{{ 'Upgrade Price'|t }}</h4>
        {% for passenger in flight.passengers %}
          <div>
            <b>{{ '$'|t }}</b><span{{ passenger.attributes }} class="upgrade-price">{{ passenger.price }}</span>
          </div>
        {% endfor %}
      </div>
      <div class="col-sm-3 col-md-4">
        <h4>{{ 'Seat'|t }}</h4>
        {% for passenger in flight.passengers %}
          <div style="padding:0.25em 0;">
            <h5{{ passenger.attributes }} class="selected_seat">{{ passenger.seat }}</h5>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %} #}


{% for key,flight in flights %}
<div data-tab="{{key}}" class="user-flight-ticket-info booking_seats">
{% for passenger in flight.passengers %}
 <div  class="row seat_flight_ov">
						<div class="col-md-4 cs6">
							<label>Flight Number</label>
							<h4>
                {{ flight.title }}
              </h4>
						</div>
						<div class="col-md-4 cs6 passengername">
							<label>Passenger</label>
							<h4>{{ passenger.name }}</h4>
						</div>
						<div class="col-md-3 cs6">
							<label>Upgrade Price</label>
							<h4>
              <b>{{ '$'|t }}</b><span{{ passenger.attributes }} class="upgrade-price">{{ passenger.price }}</span></h4>
						</div>
						
						<div class="col-md-1 cs6">
							<label>Seat</label>
							<div class="seat_select_small"></div><h4 {{ passenger.attributes }} class="selected_seat">{{ passenger.seat }} </h4>
 

						</div>

					</div>
              {% endfor %}
          
       </div> 
{% endfor %}
        
        
        
        
        
