<div class="find_flight_form wbg">
<h2>Find a Flight</h2>
<form  {{ attributes }}>

  <div class="row">
    <div class="col-md-6">
      {{ form.departure }}
    </div>
    <div class="col-md-6">
      {{ form.arrival }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {{ form.from }}
    </div>
    <div class="col-md-6">
      {{ form.to }}
    </div>
  </div>
  <div class="row">
        <div class="col-lg-3 col-md-6">
          {{ form.adultCount }}
        </div>
        <div class="col-lg-3 col-md-6">
          {{ form.childCount }}
        </div>
        <div class="col-lg-3 col-md-6">
          {{ form.infantCount }}
        </div>
        <div class="col-lg-3 col-md-6 round-trip-ch">
          {{ form.isRoundtrip }}
        </div>
    <div class="col-md-12 ">
      {{ form.promoCode }}
    </div>
  </div>
  
  
  <!-- <div> -->
    <!-- <h3>Form variables</h3> -->
    <!-- {{ form|keys|join(', ') }} -->
    <!-- <h3>Other variables</h3> -->
    <!-- {{ _context|keys|join(', ') }} -->
  <!-- </div> -->
<div class="row">
  <div class="col-md-12 cus-form-btn">
    {# render other fields  #}
  {{ form|without('departure','arrival','from','to','adultCount','childCount','infantCount','isRoundtrip','promoCode') }}
  </div>
  <div class="col-md-12">
    <p class='description'>
      To book an unaccompanied minor or pet, please call 866-435-9847
    </p>
  </div>
</div>
</form>
</div>