<div class='upcoming_body'>
{% set reservations = data.reservations %}
<h1>Upcoming Flights</h1>
<div class='row eq dashboard_content upcoming_flights_page'>

{% for key,reservation in reservations %}

    {# <h1>Reservation {{ key }}</h1> #}
   
   
    {% for journeyKey,journey in reservation.journeys %}
    {#   #}
     <div class="cm3 cs6 col-lg-3 col-md-6">
					<div class="ticket ticket_white wbg">
						<h4> {{  reservation['passengers'][0]['reservationProfile']['firstName']}} {{ reservation['passengers'][0]['reservationProfile']['lastName'] }}  </h4>
						<div class="row">
							<div class="cxs4">
								<div class="ticket_city_big"> {{ journey.from['airport']['code'] }} </div>
								<div class="ticket_city_small">{{ journey.from['airport']['name'] }}</div>
							</div>
							<div class="cxs4">
								<div class="ticket_depart_arrive">Depart</div>
							</div>
							<div class="cxs4">
								<div class="ticket_time"><div class="ticket_time_big">{{ journey.from['dateTime']['time'] }} </div><div class="ticket_am_pm">{{ journey.from['dateTime']['AMPM']  }}</div></div>
								<div class="ticket_city_small">{{ journey.from['airport']['name'] }}</div>
							</div>
						</div>
						
						<div class="ticket_divider"></div>
						<div class="row rnp">
							<div class="cxs4">
								<div class="ticket_city_big">{{ journey.to['airport']['code'] }}</div>
								<div class="ticket_city_small">{{ journey.to['airport']['name'] }}</div>
							</div>
							<div class="cxs4">
								<div class="ticket_depart_arrive">Arrive</div>
							</div>
							<div class="cxs4">
								<div class="ticket_time"><div class="ticket_time_big">{{ journey.to['dateTime']['time'] }}</div><div class="ticket_am_pm">{{  journey.to['dateTime']['AMPM']  }}</div></div>
								<div class="ticket_city_small">{{ journey.to['airport']['name'] }}</div>
							</div>
						</div>
						
						<div class="ticket_dash"><svg height="1" viewBox="0 0 385.908 1">
							  <line id="Line_104" data-name="Line 104" x2="384.908" transform="translate(0.5 0.5)" fill="none" stroke="#ccc" stroke-linecap="round" stroke-width="1" stroke-dasharray="0 3"></line>
							</svg>	
						</div>
						
						<div class="ticket_flight_time">
							 {{  journey.to['dateTime']['left']|raw  }}
						</div>
						
						<div class="ticket_bottom_svg">
							<svg viewBox="0 0 188 24.631">
								  <line id="Line_53" data-name="Line 53" x2="187" transform="translate(0.5 11.885)" fill="none" stroke="#9952f5" stroke-linecap="round" stroke-width="1" stroke-dasharray="0 2"></line>
								  <path id="np_plane_2045803_000000" d="M16.9,16.744,10.523,26.911c0,.072-.072.072-.143.072H7.874a.19.19,0,0,1-.215-.215l3.15-10.024H4.079L2.217,19.25c0,.072-.072.072-.143.072H.212A.19.19,0,0,1,0,19.107l1.288-4.439L0,10.228a.229.229,0,0,1,.215-.215H2.074c.072,0,.143,0,.143.072L4.079,12.59h6.73L7.659,2.567a.229.229,0,0,1,.215-.215H10.38c.072,0,.143,0,.143.072L16.9,12.59h6.945a2.077,2.077,0,0,1,0,4.153H16.9Z" transform="translate(81.061 -2.352)" fill="#7316ea" fill-rule="evenodd"></path>
								</svg>
								
						</div>
					</div>
				</div>

     
     {# <pre>     
    <div class="card" style="margin-left: 125px;">
            <h3>Journeys {{ journeyKey }}</h3>
            <div>
            <h3>From </h3> 
             
             {{ dump(journey.from) }}  
             
            </div>
            <div>
            <h3>To</h3>
             {{ dump(journey.to) }}</div></pre> 
       </div>   #}
   
    {% endfor %}
       {# <h1>Passenger 0 info</h1>  
    
       {{- dump(reservation['passengers'][0])  -}}    #}
    
   
{% endfor %} 
</div> 
</div>