{#
/**
 * @file
 * Default theme implementation to display a About Us page node.
 */
#}
<article{{ attributes.addClass('container_push_right show_flow in about-us-section') }}>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 space">
    <div class="eb_text">
      {{ content.body }}
    </div>
    </div>
    <div class="col-md-6">
    <div class="equalblocks">
       {{  content.small_image  }}
    </div>
   </div>
    <div class="col-md-12 banner-about_imgs">
     {{ content.background_image_content }}
     </div>
     <div class="about-bottom-section">
     <div class="container">
        <div class="row">
            <p>Learn More About Hop-On Flights</p> 
            <div class=" about-col-section">
              <div class="about-col-section-inner">
                   
                     {{ content.multiple_content }}
              </div>
            </div>
        </div>
     </div>
     
         
       
       
    </div>
     <div class="col-ld-3 col-md-3 nopro">
     {# what is this 
            {{ content.field_image3 }} #}
        </div>
  </div>
</article>
<div class="pd nt nopro"></div>
